/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
.DS_Store
.env
.env.backup
.env.testing
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.editorconfig

## Laravel mix
/public/mix-manifest.json
/laradock

## PHPStorm stuff
_ide_helper.php
.phpstorm.meta.php