{
  "trailingComma": "none",
  "tabWidth": 2,
  "overrides": [
    {
      "files": ["*.css", "*.php"],
      "options": {
        "tabWidth": 4
      }
    }
  ],
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "phpVersion": "7.3"
}
