/**
 * Stylesheet
 */
body {
  color: $white;
  background: $indigo;
}

// General CSS
a,
.btn-link {
  color: $white;
  &:hover {
    color: $white;
  }
}
#app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.content {
  flex: 1;
}
.btn {
  &.btn-primary {
    background: $indigo;
    color: lighten($lavendar, 5%);
    border: none;
    &:hover {
      background: darken($indigo, 4%);
      color: $pink;
    }
  }
  &.btn-category {
    background: $indigo;
    color: lighten($lavendar, 5%);
    &:hover {
      background: darken($indigo, 4%);
      color: $pink;
    }
  }
  &:focus {
    box-shadow: 0 0 0 0.2rem darken($lilac, 22%);
  }
}
.text-muted {
  color: $sage !important;
}
.form-control,
.form-control:focus {
  background: $indigo;
  color: $lilac;
  border: 1px solid $purple;
  &::placeholder {
    color: $lilac;
    opacity: 0.5;
  }
  &:focus {
    box-shadow: 0 0 0 0.2rem darken($lilac, 22%);
  }
}
.pagination {
  .page-item {
    .page-link {
      font-weight: bold;
      color: $white;
      background-color: lighten($purple, 10%);
      border: 1px solid $purple;
      &:focus {
        box-shadow: 0 0 0 0.2rem darken($lilac, 22%);
      }
      &:hover {
        background-color: lighten($purple, 15%);
      }
      &.disabled {
        opacity: 0.5;
        pointer-events: none;
      }
      &.page-hellip {
        padding: 0.75rem 0.5rem;
        cursor: text;
        &:hover {
          background-color: lighten($purple, 10%);
        }
      }
    }
    &.active {
      .page-link {
        color: $pink;
        background-color: $indigo;
        border-color: $indigo;
      }
    }
  }
  ion-icon {
    position: relative;
    top: 3px;
  }
}
.custom-select {
  background: $indigo
    url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23CACAEE' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e")
    no-repeat right 0.75rem center/8px 10px;
  color: darken($lilac, 15%);
  border: none;
  &:hover {
    color: darken($lilac, 5%);
  }
  &:focus {
    box-shadow: 0 0 0 0.2rem darken($lilac, 22%);
  }
}
.btn-clear-search {
  position: absolute;
  right: 0;
  top: 10px;
  background: none;
  border: none;
  color: lighten($purple, 5%);
  &:hover {
    color: lighten($purple, 10%);
  }
}
.loader-icon {
  width: 60px;
  margin: -7px auto 0 auto;
  position: absolute;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 0;
}
.logo {
  padding: 0.25em 0;
  h1 {
    font-size: 32px;
  }
  &:hover {
    text-decoration: none;
  }
}
.main-search {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  input[type='text'] {
    font-weight: 500;
    border-radius: 500px;
    padding: 1.15em;
    color: $white;
    border: none;
    &:focus {
      box-shadow: none;
    }
  }
  .input-group {
    background: $indigo;
    border-radius: 500px;
    transition: box-shadow 0.15s ease-in-out;
    &:focus-within {
      box-shadow: 0 0 0 0.2rem darken($lilac, 22%);
    }
  }
  .btn {
    line-height: 1 !important;
    font-size: 21px !important;
    border-radius: 0 500px 500px 0 !important;
    border: none;
    color: $pink;
    &:hover {
      background-color: $pink;
      color: $white;
    }
    &:focus {
      box-shadow: none;
    }
  }
}

// Skeleton Cards
.skeleton-card-video {
  width: 100%;
  .skeleton-card-image {
    min-height: 155px;
    background: $lavendar;
  }
  .skeleton-card-line {
    margin: 9px 0 7px;
    width: 75%;
    height: 11px;
    background: $lavendar;
  }
  .skeleton-card-line2 {
    width: 75%;
    height: 11px;
    background: $lavendar;
  }
  .skeleton-card-views {
    margin: 12px 0 6px 0;
    width: 35%;
    height: 9px;
    background: $lavendar;
    float: left;
  }
  .skeleton-card-likes {
    margin: 12px 0 6px 10px;
    width: 20%;
    height: 9px;
    background: $lavendar;
    float: left;
  }
}

// Placeholders
.sidead-placeholder {
  background: $indigo;
  height: 500px;
}

// VideoList component
.video-listing {
  margin-left: -8px;
  margin-right: -8px;
  h5 {
    font-size: 14px;
    font-weight: 700;
  }
  .video {
    position: relative;
    .video-data {
      display: block;
    }
    .video-poster {
      min-height: 154px;
      position: relative;
      background: $lavendar;
      overflow: hidden;
      img {
        border-radius: 0;
        filter: blur(5px);
      }
      .carousel {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        img {
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          width: 100%;
          visibility: hidden;
          &.active {
            visibility: visible;
          }
        }
      }
      .duration {
        position: absolute;
        bottom: 8px;
        right: 8px;
        border-radius: 3px;
        padding: 0 3px;
        background: rgba(0, 0, 0, 0.65);
        color: $white;
        font-size: 12px;
      }
    }
    .video-info {
      font-size: 12px;
      min-height: 58px;
      .video-title {
        word-break: break-word;
        a {
          color: $lilac;
          &:hover {
            color: $white;
          }
        }
      }
      .liked {
        color: $green;
        [name='thumbs-down'] {
          display: none;
        }
      }
      .disliked {
        color: $red;
        [name='thumbs-up'] {
          display: none;
        }
      }
    }
  }
}

// Video component
.video-frame {
  position: relative;
  background: $lavendar;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9, for an aspect ratio of 1:1 change to this value to 100% */
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.video-rating {
  font-size: 12px;
  .video-rating-bar {
    position: relative;
    width: 100%;
    height: 6px;
    background: $red;
    max-width: 200px;
    .video-rating-likes {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      background: $green;
    }
  }
}

// Main categories aside
.main-categories {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  li {
    margin-bottom: 5px;
    ion-icon {
      position: relative;
      font-size: 20px;
      top: 5px;
      margin-right: 7px;
    }
  }
}
.all-categories {
  a {
    color: $lilac;
    &:hover {
      color: $white;
    }
  }
}

// Main site footer
.main-footer {
  background: $purple;
  border-top: 1px solid lighten($purple, 10%);
  padding: 3rem 0;
}
