// Body

// Typography
$font-family-sans-serif: 'Roboto', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Theme Colors
$indigo: #20205b;
$purple: #38388b;
$lavendar: #5959cf;
$sage: #8f8fe9;
$lilac: #cacaf1;

// Theme Colors
//$indigo: #0a0a0a;
//$purple: #2d2d2d;
//$lavendar: #434343;
//$sage: #676767;
//$lilac: #c8c8c8;

// Basic Colors
$blue: #3490dc;
$pink: #d980fa;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffc107;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Map custom colors
$theme-colors: (
  'lilac': $lilac,
  'sage': $sage,
  'indigo': $indigo,
  'pink': $pink,
  'purple': $purple
);

// Grid breakpoints
$grid-breakpoints: (
  xxxs: 0,
  xxs: 320px,
  xs: 568px,
  sm: 667px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1346px
);

$container-max-widths: (
  xxxs: 0,
  xxs: 320px,
  xs: 568px,
  sm: 667px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1346px
);
